<section class="auth-form-card auth-form-card--login">
  <app-ui-kicker tone="sky" iconClass="pi pi-user">
    {{ 'auth.login.title' | translate }}
  </app-ui-kicker>

  <form class="auth-form" (ngSubmit)="onSubmit()">
    <app-ui-field-input
      inputId="loginEmail"
      type="email"
      autocomplete="email"
      iconClass="pi pi-envelope"
      labelKey="auth.login.title_email"
      placeholderKey="auth.login.mail_placeholder"
      [(value)]="loginEmail">
    </app-ui-field-input>

    <app-ui-field-input
      inputId="loginPassword"
      type="password"
      autocomplete="current-password"
      iconClass="pi pi-lock"
      labelKey="auth.login.title_password"
      placeholderKey="auth.login.password_placeholder"
      [(value)]="loginPassword">
    </app-ui-field-input>

    <button appUiButton="primary" type="submit" class="auth-form__submit">
      <i class="pi pi-sign-in" aria-hidden="true"></i>
      <span>{{ 'auth.login.btn_text' | translate }}</span>
    </button>
  </form>

  <button type="button" class="auth-form__link" (click)="navigateToForgotPassword()">
    {{ 'auth.login.forgot_password' | translate }}
  </button>
</section>
