<h5>Login classique</h5>
<form>
  <!-- Champs de formulaire pour le login -->
  <div>
    <label for="loginEmail">Email</label>
    <input type="email" id="loginEmail" name="loginEmail" pInputText placeholder="Entrez votre email" [(ngModel)]="loginEmail">
  </div>
  <div>
    <label for="loginPassword">Mot de passe</label>
    <input type="password" id="loginPassword" name="loginPassword" pInputText placeholder="Entrez votre mot de passe" [(ngModel)]="loginPassword">
  </div>
  <button pButton type="submit" label="Se connecter"></button>
</form>
