<h5>{{ 'auth.login.title' | translate }}</h5>
<form class="form-style" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="loginEmail">{{ 'auth.login.title_email' | translate }}</label>
    <input type="email" id="loginEmail" name="loginEmail" pInputText [placeholder]="('auth.login.mail_placeholder' | translate)"
           [(ngModel)]="loginEmail" ngModel>
  </div>
  <div class="form-group">
    <label for="loginPassword">{{ 'auth.login.title_password' | translate }}</label>
    <input type="password" id="loginPassword" name="loginPassword" pInputText [placeholder]="('auth.login.password_placeholder' | translate)"
           [(ngModel)]="loginPassword" ngModel>
  </div>
  <button pButton type="submit" [label]="('auth.login.btn_text' | translate)"></button>
</form>

<button type="button" class="link-button" (click)="navigateToForgotPassword()">
  {{ 'auth.login.forgot_password' | translate }}
</button>
