@font-face {
  font-family: "primeicons";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../../node_modules/primeicons/fonts/primeicons.woff2") format("woff2"),
       url("../../node_modules/primeicons/fonts/primeicons.ttf") format("truetype");
}
