<div class="social-buttons-container">
  <button pButton type="button" label="Google" icon="pi pi-google" class="google-button" (click)="signInWithGoogle()"></button>
  <button pButton type="button" label="Facebook" icon="pi pi-facebook" class="facebook-button"></button>
</div>

<hr/>

<div class="form-container">
  <div class="register-form">
    <app-register-form></app-register-form>
  </div>
  <div class="login-form">
    <app-login-form (loginSuccess)="onLoginSuccess()"></app-login-form>
  </div>
</div>
