
  <div class="p-d-flex p-jc-center p-mb-4">

    <button pButton type="button" label="Google" icon="pi pi-google" class="p-button-rounded p-button-success p-mr-2"></button>
    <button pButton type="button" label="Facebook" icon="pi pi-facebook" class="p-button-rounded p-button-primary"></button>
  </div>

  <hr/>

  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <app-register-form></app-register-form>
    </div>
    <div class="p-col-12 p-md-6">
      <app-login-form></app-login-form>
    </div>
  </div>


