# Exemple de fichier .env

# Variables d'environnement pour la base de données
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Variables d'environnement pour pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=