
<button pButton class="theme-icon-button" (click)="openThemeDialog()">
  <i class="pi" [ngClass]="currentTheme === 'light' ? 'pi-sun' : 'pi-moon'"></i>
</button>

<!-- Boîte de dialogue pour changer le thème -->
<p-dialog header="Changer le thème" [(visible)]="displayThemeDialog" [modal]="true" [closable]="true" [style]="{'width': '300px'}">
  <div class="theme-dialog-content">
    <p>Choisissez votre thème :</p>
    <div class="theme-options">
      <button pButton label="Thème Clair" (click)="changeTheme('light')" icon="pi pi-sun"></button>
      <button pButton label="Thème Sombre" (click)="changeTheme('dark')" icon="pi pi-moon"></button>
    </div>
  </div>
</p-dialog>
