<article class="park-item-card">
  <div class="park-item-card__visual">
    <span class="park-item-card__icon">
      <i [class]="card.typeIconClass"></i>
    </span>

    <div class="park-item-card__chips">
      <span class="public-pill">{{ card.categoryLabelKey | translate }}</span>
      <span class="public-pill public-pill--soft">{{ card.typeLabelKey | translate }}</span>
      <span class="public-pill public-pill--soft" *ngIf="card.zoneName">{{ card.zoneName }}</span>
    </div>
  </div>

  <div class="park-item-card__body">
    <div class="park-item-card__headline">
      <h3 class="park-item-card__title">{{ card.name }}</h3>
      <p class="park-item-card__subtitle" *ngIf="card.subtitle">{{ card.subtitle }}</p>
    </div>

    <p class="park-item-card__description" *ngIf="card.description">{{ card.description }}</p>

    <div class="park-item-card__highlights" *ngIf="card.highlights.length > 0">
      <span class="park-item-card__highlight" *ngFor="let value of card.highlights">
        {{ value }}
      </span>
    </div>
  </div>

  <div class="park-item-card__footer">
    <a
      *ngIf="card.itemLink"
      pButton
      [routerLink]="card.itemLink"
      class="p-button-outlined"
      icon="pi pi-arrow-right"
      [label]="'parkItems.actions.viewDetails' | translate">
    </a>
  </div>
</article>
