<article class="park-item-card">
  <div class="park-item-card__visual">
    <span class="park-item-card__icon">
      <i [class]="card.typeIconClass"></i>
    </span>

    <div class="park-item-card__chips">
      <app-ui-chip tone="primary">{{ card.categoryLabelKey | translate }}</app-ui-chip>
      <app-ui-chip tone="soft">{{ card.typeLabelKey | translate }}</app-ui-chip>
      <app-ui-chip tone="soft" *ngIf="card.zoneName">{{ card.zoneName }}</app-ui-chip>
    </div>
  </div>

  <div class="park-item-card__body">
    <div class="park-item-card__headline">
      <h3 class="park-item-card__title">{{ card.name }}</h3>
      <p class="park-item-card__subtitle" *ngIf="card.subtitle">{{ card.subtitle }}</p>
    </div>

    <p class="park-item-card__description" *ngIf="card.description">{{ card.description }}</p>

    <div class="park-item-card__highlights" *ngIf="card.highlights.length > 0">
      <span class="park-item-card__highlight" *ngFor="let value of card.highlights">
        {{ value }}
      </span>
    </div>
  </div>

  <div class="park-item-card__footer">
    <a *ngIf="card.itemLink" appUiButton="ghost" [routerLink]="card.itemLink">
      <i class="pi pi-arrow-right" aria-hidden="true"></i>
      <span>{{ 'parkItems.actions.viewDetails' | translate }}</span>
    </a>
  </div>
</article>
