<app-ui-search-panel
  panelId="park-items-results"
  searchInputId="park-items-search-input"
  kickerIconClass="pi pi-sliders-h"
  kickerLabelKey="parkVisitor.summary.viewAllItems"
  titleKey="parkVisitor.summary.viewAllItems"
  searchLabelKey="parkItems.filters.search"
  searchPlaceholderKey="parkItems.filters.searchPlaceholder"
  clearActionLabelKey="parkItems.filters.clear"
  [searchTerm]="searchTerm()"
  [filters]="filters()"
  [showClearAction]="false"
  (searchTermChange)="onSearchChanged($event)"
  (filterChanged)="onFilterChanged($event)">
  <ng-content select="[filters-subtitle]"></ng-content>
</app-ui-search-panel>
