<app-park-list-view
  [state]="state"
  [mapState]="mapState"
  [parks]="displayedParks"
  [pagination]="pagination"
  [visibleMapPoints]="visibleMapPoints"
  [visibleCountryCount]="visibleCountryCount"
  [selectedMapParkId]="selectedMapParkId"
  [selectedParkCard]="selectedParkCard"
  [selectedRegion]="selectedRegion"
  [selectedStatus]="selectedStatus"
  [selectedAudienceClassificationFilter]="selectedAudienceClassificationFilter"
  [statusFilterOptions]="statusFilterOptions"
  [audienceClassificationFilterOptions]="audienceClassificationFilterOptions"
  [currentLang]="currentLang"
  [searchTerm]="searchTerm"
  (searchInputChanged)="onSearchInput($event)"
  (searchSubmitted)="onSearchSubmit()"
  (clearSearchClicked)="clearSearch()"
  (mapParkSelected)="onMapParkSelected($event)"
  (regionFilterChanged)="onRegionFilterChanged($event)"
  (statusFilterChanged)="onStatusFilterChanged($event)"
  (audienceClassificationFilterChanged)="onAudienceClassificationFilterChanged($event)"
  (resultParkFocused)="onResultParkFocused($event)"
  (selectedParkCleared)="clearSelectedPark()"
  (pageChanged)="onPageChange($event)">
</app-park-list-view>
