<app-public-video-list-view
  [state]="state()"
  [videos]="videos()"
  [totalVideos]="totalVideos()"
  [canLoadMore]="canLoadMore()"
  [loadingMore]="loadingMore()"
  [filters]="filters()"
  [typeOptions]="typeOptions()"
  [tagOptions]="tagOptions()"
  kickerLabelKey="parks.videosPage.kicker"
  titleKey="parks.videosPage.title"
  [titleParams]="titleParams()"
  subtitleKey="parks.videosPage.subtitle"
  [subtitleParams]="titleParams()"
  loadingTitleKey="parks.videosPage.loadingTitle"
  loadingMessageKey="parks.videosPage.loadingMessage"
  errorTitleKey="parks.videosPage.errorTitle"
  errorMessageKey="parks.videosPage.errorMessage"
  emptyTitleKey="parks.videosPage.emptyTitle"
  emptyMessageKey="parks.videosPage.emptyMessage"
  [backLinks]="backLinks()"
  (filtersChanged)="onFiltersChanged($event)"
  (loadMoreClicked)="onLoadMoreClicked()">
</app-public-video-list-view>
