<div class="p-3">
  <p-card>
    <h2>
      {{
        (isEditMode
          ? 'admin.operators.editPage.updateTitle'
          : 'admin.operators.editPage.createTitle') | translate
      }}
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
      <div class="field">
        <label for="name">{{ 'admin.operators.editPage.name' | translate }}</label>
        <input id="name" pInputText type="text" formControlName="name" />
      </div>

      <div class="field mt-3">
        <label>{{ 'admin.operators.editPage.description' | translate }}</label>
        <app-localized-rich-text-editor formControlName="description"></app-localized-rich-text-editor>
      </div>

      <div class="field mt-3">
        <label for="adminReviewStatus">{{ 'admin.filters.reviewStatus' | translate }}</label>
        <select id="adminReviewStatus" formControlName="adminReviewStatus">
          <option [ngValue]="'ToReview'">{{ 'admin.reviewStatus.toReview' | translate }}</option>
          <option [ngValue]="'Validated'">{{ 'admin.reviewStatus.validated' | translate }}</option>
          <option [ngValue]="'ToProcessLater'">{{ 'admin.reviewStatus.toProcessLater' | translate }}</option>
          <option [ngValue]="'NotRelevant'">{{ 'admin.reviewStatus.notRelevant' | translate }}</option>
        </select>
      </div>

      <div class="flex justify-content-end gap-2 mt-3">
        <button
          pButton
          type="button"
          class="p-button-secondary"
          (click)="onCancel()"
          [label]="'actions.cancel' | translate">
        </button>

        <button
          pButton
          type="submit"
          class="p-button-primary"
          [label]="'actions.save' | translate">
        </button>
      </div>
    </form>
  </p-card>
</div>
