<nav class="sidenav" [ngClass]="{ 'collapsed': isCollapsed }">
  <!-- Bouton pour rétracter/étendre -->
  <div class="sidenav-header">
    <div class="logo">
      <i class="pi pi-compass"></i>
      <span class="logo-text">Amusement Parks</span>
    </div>
    <button pButton icon="pi pi-bars" class="collapse-btn" (click)="toggleCollapse()"></button>
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a [routerLink]="['/', currentLang, 'home']" class="nav-link" (click)="handleNavClick($event)">
        <i class="pi pi-home"></i>
        <span class="link-text">Accueil</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/', currentLang, 'about']" class="nav-link" (click)="handleNavClick($event)">
        <i class="pi pi-info-circle"></i>
        <span class="link-text">À propos</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/', currentLang, 'profile']" class="nav-link" (click)="handleNavClick($event)">
        <i class="pi pi-user"></i>
        <span class="link-text">Profil</span>
      </a>
    </li>
  </ul>
</nav>
