.example-spacer {
  flex: 1 1 auto;
}

.menu-bar {
  background-color: rgb(13, 44, 65); /* Dark Blue */
  color: white;
}

.menu-icon {
  margin-right: 10px; /* Ajouter un espace à droite de l'icône */
  vertical-align: middle; /* Centrer l'icône verticalement */
  height: 50px; /* Ajuster en fonction de la taille souhaitée */
}
