<mat-toolbar color="primary">
  <span>Mon Application</span>
  <span class="example-spacer"></span>
  <mat-form-field appearance="fill">
    <mat-select placeholder="Pays">
      <mat-option value="us">
        <app-countries-flags countryCode="US"></app-countries-flags>
        États-Unis
      </mat-option>
      <mat-option value="fr">
        <app-countries-flags countryCode="FR"></app-countries-flags>
        France
      </mat-option>
      <mat-option value="es">
        <app-countries-flags countryCode="ES"></app-countries-flags>
        Espagne
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
