<app-park-item-detail-view
  [state]="state"
  [detail]="detail"
  [heroImageResponsiveWidths]="heroImageResponsiveWidths"
  [heroImageSizes]="heroImageSizes"
  [heroImageSrcWidth]="heroImageSrcWidth"
  [currentLang]="currentLanguage()"
  [liveState]="liveState()"
  [liveHistoryState]="liveHistoryState()"
  [liveTimeZoneId]="parkTimeZoneId()"
  (liveRefreshClicked)="refreshLiveData()"
  (liveHistoryRetryClicked)="retryLiveHistory()"
  (backToItemsClicked)="goBackToItems()">
</app-park-item-detail-view>
