<app-park-items-list-view
  [state]="state"
  [pageView]="pageView"
  [zoneCards]="zoneCards"
  [zoneFocus]="zoneFocus"
  [pagedItems]="pagedItems"
  [searchTerm]="searchTerm"
  [selectedCategory]="selectedCategory"
  [selectedType]="selectedType"
  [selectedZoneId]="selectedZoneId"
  [selectedClosedFilter]="selectedClosedFilter"
  [categoryOptions]="categoryOptions"
  [typeOptions]="typeOptions"
  [zoneOptions]="zoneOptions"
  [closedFilterOptions]="closedFilterOptions"
  [hasZones]="hasZones"
  [totalResults]="totalResults"
  [rangeStart]="rangeStart"
  [rangeEnd]="rangeEnd"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (backClicked)="onBackClicked()"
  (clearFiltersClicked)="clearFilters()"
  (searchChanged)="onSearchChanged($event)"
  (categoryChanged)="onCategoryChanged($event)"
  (typeChanged)="onTypeChanged($event)"
  (zoneChanged)="onZoneChanged($event)"
  (closedFilterChanged)="onClosedFilterChanged($event)"
  (zoneSelected)="onZoneSelected($event)"
  (pageChanged)="onPageChanged($event)">
</app-park-items-list-view>
