<app-public-video-list-view
  [state]="state()"
  [videos]="videos()"
  [totalVideos]="totalVideos()"
  [canLoadMore]="canLoadMore()"
  [loadingMore]="loadingMore()"
  [filters]="filters()"
  [typeOptions]="typeOptions()"
  [tagOptions]="tagOptions()"
  kickerLabelKey="parkItems.videosPage.kicker"
  titleKey="parkItems.videosPage.title"
  [titleParams]="titleParams()"
  subtitleKey="parkItems.videosPage.subtitle"
  [subtitleParams]="titleParams()"
  loadingTitleKey="parkItems.videosPage.loadingTitle"
  loadingMessageKey="parkItems.videosPage.loadingMessage"
  errorTitleKey="parkItems.videosPage.errorTitle"
  errorMessageKey="parkItems.videosPage.errorMessage"
  emptyTitleKey="parkItems.videosPage.emptyTitle"
  emptyMessageKey="parkItems.videosPage.emptyMessage"
  [backLinks]="backLinks()"
  (filtersChanged)="onFiltersChanged($event)"
  (loadMoreClicked)="onLoadMoreClicked()">
</app-public-video-list-view>
