<app-admin-park-item-edit-form
  [form]="form"
  [itemId]="itemId()"
  [activeTabIndex]="activeTabIndex()"
  [isEditMode]="isEditMode()"
  [isAttractionCategory]="isAttractionCategory()"
  [currentLang]="currentLang()"
  [statusLabel]="getEditorStatusLabel()"
  [isDirty]="isFormDirty"
  [isSaving]="isSaving()"
  [saveErrorVisible]="lastSaveFailed()"
  [sequentialNavigationState]="sequentialNavigationState()"
  [categoryOptions]="categoryOptions"
  [filteredTypeOptions]="filteredTypeOptions()"
  [parkOptions]="parkOptions()"
  [parkOptionsLoading]="parkOptionsLoading()"
  [zones]="zonesState.zones()"
  [manufacturerOptions]="manufacturersState.manufacturerOptions()"
  [manufacturersLoading]="manufacturersState.manufacturersLoading()"
  [manufacturerAddLink]="['/', currentLang(), 'admin', 'manufacturers', 'new']"
  [manufacturerAddQueryParams]="manufacturerCreateLinkQueryParams"
  [statusOptions]="statusOptions"
  [waterExposureLevelOptions]="waterExposureLevelOptions"
  [accessConditionPresetOptions]="accessConditionPresetOptions()"
  [accessConditionUnitOptions]="accessConditionUnitOptions"
  [selectedAccessConditionPreset]="selectedAccessConditionPreset()"
  [attractionLocationOptions]="attractionLocationOptions"
  [selectedLocationKey]="locationState.selectedLocationKey()"
  [generalMapCenter]="locationState.generalMapCenter()"
  [generalMapZoom]="locationState.generalMapZoom"
  [generalMapMarkers]="locationState.generalMapMarkers()"
  [canUseParkLocation]="locationState.canUseParkLocation()"
  [locationMapCenter]="locationState.locationMapCenter()"
  [locationMapZoom]="locationState.locationMapZoom"
  [locationMapMarkers]="locationState.locationMapMarkers()"
  [currentPhoto]="photosState.currentPhoto()"
  [allowMultiplePhotoUpload]="allowMultiplePhotoUpload"
  [selectedPhotoCount]="photosState.selectedPhotoCount()"
  [newPhotoDescription]="photosState.newPhotoDescription()"
  [selectedPhotoCategorySlug]="photosState.selectedPhotoCategorySlug()"
  [photoCategoryOptions]="photosState.photoCategoryOptions()"
  [photosUploading]="photosState.photosUploading()"
  [photosLoading]="photosState.photosLoading()"
  [attractionPhotos]="photosState.attractionPhotos()"
  [pagedPhotos]="photosState.pagedPhotos()"
  [photosPageSize]="photosState.photosPageSize()"
  (submitForm)="onSubmit()"
  (back)="goBack()"
  (saveAll)="saveAll()"
  (saveAndClose)="saveAndClose()"
  (retrySave)="retryLastSave()"
  (previousParkItem)="goToPreviousParkItem()"
  (nextParkItem)="goToNextParkItem()"
  (tabChanged)="onTabChange($event)"
  (generalMapPositionChange)="onGeneralMapPositionChange($event)"
  (resetGeneralLocationToPark)="resetGeneralLocationToPark()"
  (parkOptionsRequested)="onParkOptionsRequested()"
  (parkSelectionChange)="onParkSelectionChange($event)"
  (saveSection)="saveSection()"
  (selectedAccessConditionPresetChange)="selectedAccessConditionPreset.set($event)"
  (addAccessCondition)="addAccessCondition($event)"
  (removeAccessCondition)="removeAccessCondition($event)"
  (moveAccessConditionUp)="moveAccessConditionUp($event)"
  (moveAccessConditionDown)="moveAccessConditionDown($event)"
  (accessConditionTypeChanged)="onAccessConditionTypeChanged($event)"
  (createAccessConditionType)="onCreateAccessConditionType($event)"
  (selectedLocationKeyChange)="selectLocationEditor($event)"
  (specificLocationMapPositionChange)="onSpecificLocationMapPositionChange($event)"
  (clearLocationPoint)="clearLocationPoint($event)"
  (useGeneralLocation)="useGeneralLocationForSelectedPoint()"
  (clearSelectedLocation)="clearSelectedLocationPoint()"
  (photoFileSelected)="onPhotoFileSelected($event)"
  (newPhotoDescriptionChange)="photosState.setNewPhotoDescription($event)"
  (selectedPhotoCategorySlugChange)="photosState.setSelectedPhotoCategorySlug($event)"
  (uploadPhoto)="onUploadPhoto()"
  (setCurrentPhoto)="onSetCurrentPhoto($event)"
  (deletePhoto)="onDeletePhoto($event)"
  (photosPageChange)="onPhotosPageChange($event)">
</app-admin-park-item-edit-form>
