<p-toolbar styleClass="custom-toolbar">


  <ng-template pTemplate="start">
    <img src="assets/general-icon/logo-amusementpark.png" alt="Logo" class="logo">
    <span class="fun-text">Amusement Parks</span>
  </ng-template>

  <ng-template pTemplate="center">
    <p-dialog [header]="('topbar.login_header' | translate)" [(visible)]="displayLoginModal" [modal]="true" >
      <app-auth-modal></app-auth-modal>
    </p-dialog>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="menu-language">
      <p-dropdown class="dropdown-language" [options]="languages" [(ngModel)]="selectedLanguage" (onChange)="changeLanguage($event.value)">
        <ng-template let-language pTemplate="selectedItem">
          <div class="p-d-flex p-ai-center">
            <img [src]="'assets/flags/' + language.value + '.png'" class="flag" alt="">
            <span>{{language.label}}</span>
          </div>
        </ng-template>


        <ng-template let-language pTemplate="item">
          <div class="p-d-flex p-ai-center">
            <img [src]="'assets/flags/' + language.value + '.png'" class="flag" alt="">
            <span>{{language.label}}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <button pButton type="button" [label]="('topbar.login_header' | translate)" icon="pi pi-user" class="p-button-primary top-bar-button" (click)="openLoginModal()"></button>
  </ng-template>



</p-toolbar>
