.custom-toolbar {
  background-color: #f4f4f4;  /* Couleur de fond claire */
  border-bottom: 1px solid #ccc; /* Ligne de séparation subtile */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre légère pour un effet de profondeur */
  padding: 10px 20px; /* Espacement interne */
}


.logo {
  width: 40px;
  height: 40px;
}

.flag {
  width: 20px;
  margin-right: 8px;
}

.menu-language {
  margin-right: 10px;
  height: 40px;
}

.dropdown-language {
  border: none;
}

.p-button {
  height: 40px;
}



.fun-text {
  font-family: 'Bangers-Regular', sans-serif;
  font-size:30px;
  margin-left: 20px;
  color: #ffffff;
}

@font-face {
  font-family: 'Bangers-Regular';
  src: url('/assets/fonts/Bangers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.top-bar-button{
  height: 36px;
}


.languages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-language {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flag {
  width: auto;
  height: 26px;
  margin-left: 10px;
  margin-right: 0;
  vertical-align: middle;
}
