<app-profile-page-view
  [state]="state"
  [user]="user"
  [displayAvatarUploadDialog]="displayAvatarUploadDialog"
  [isEditingIdentity]="isEditingIdentity"
  [savingIdentity]="savingIdentity"
  [identityDraft]="identityDraft"
  [avatarCategory]="avatarCategory"
  [userOwnerType]="userOwnerType"
  [currentUserId]="currentUserId"
  [avatarUrl]="getAvatarUrl()"
  (editFieldClicked)="editField($event)"
  (preferredLanguageEditClicked)="editPreferredLanguage()"
  (preferredMeasurementSystemChanged)="updatePreferredMeasurementSystem($event)"
  (saveIdentityClicked)="saveIdentity()"
  (cancelIdentityClicked)="cancelIdentityEdition()"
  (logoutClicked)="logout()"
  (avatarDialogVisibleChange)="onAvatarUploadDialogVisibleChange($event)"
  (avatarUploaded)="onAvatarUploaded($event)">
</app-profile-page-view>
