<div class="admin-dashboard">
  <header class="admin-header">
    <h1>{{ 'admin.title' | translate }}</h1>
  </header>

  <nav class="admin-tabs">
    <button
      pButton
      class="admin-tab"
      [routerLink]="['users']"
      routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }"
      [label]="'admin.tabs.users' | translate"
      icon="pi pi-users"
    ></button>

    <button
      pButton
      class="admin-tab"
      [routerLink]="['parks']"
      routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }"
      [label]="'admin.tabs.parks' | translate"
      icon="pi pi-compass"
    ></button>


    <button
      pButton
      class="admin-tab"
      [routerLink]="['items']"
      routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }"
      [label]="'admin.tabs.parkItems' | translate"
      icon="pi pi-map"
    ></button>

    <button
      pButton
      class="admin-tab"
      [routerLink]="['operators']"
      routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }"
      [label]="'admin.tabs.operators' | translate"
      icon="pi pi-building"
    ></button>

    <button
      pButton
      class="admin-tab"
      [routerLink]="['manufacturers']"
      routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }"
      [label]="'admin.tabs.manufacturers' | translate"
      icon="pi pi-wrench"
    ></button>

    <button
      pButton
      class="admin-tab"
      [routerLink]="['site']"
      routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }"
      [label]="'admin.tabs.site' | translate"
      icon="pi pi-cog"
    ></button>
  </nav>

  <section class="admin-content">
    <router-outlet></router-outlet>
  </section>
</div>
