<app-admin-parks-view
  [parks]="parks"
  [loading]="loading"
  [totalRecords]="totalRecords"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  [searchQuery]="searchQuery"
  [canShowHeaderTotal]="canShowHeaderTotal"
  [canClearSearch]="canClearSearch"
  [getTypeTranslationKeyFn]="getTypeTranslationKey.bind(this)"
  (searchQueryChanged)="onSearchQueryChanged($event)"
  (searchClicked)="onSearch()"
  (clearSearchClicked)="clearSearch()"
  (pageChanged)="onPageChanged($event)"
  (visibilityChanged)="onVisibilityChange($event)">
</app-admin-parks-view>
