<div class="entity-select">
  @if (label) {
    <label class="entity-select__label">{{ label }}</label>
  }

  <div class="entity-select__row">
    <app-ui-select
      [ngModel]="value"
      (ngModelChange)="onValueChange($event)"
      [options]="options"
      optionLabel="label"
      optionValue="id"
      [showClear]="true"
      [filter]="true"
      [disabled]="isDisabled || loading"
      [placeholder]="placeholder"
      [appendTo]="'body'"
      styleClass="w-full">
    </app-ui-select>

    @if (addLink) {
      <button
        appUiButton
        type="button"
        class="p-button-outlined"
        [routerLink]="addLink"
        [queryParams]="addQueryParams"
        [label]="addButtonLabel"
        icon="pi pi-plus">
      </button>
    }
  </div>
</div>
