<p-card styleClass="auth-page-card">
  <h2>{{ 'auth.forgot_password.title' | translate }}</h2>
  <p>{{ 'auth.forgot_password.description' | translate }}</p>

  @if (!isSubmitted) {
    <form class="form-style" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="forgotPasswordEmail">{{ 'auth.login.title_email' | translate }}</label>
        <input
          type="email"
          id="forgotPasswordEmail"
          name="forgotPasswordEmail"
          pInputText
          [(ngModel)]="email"
          [placeholder]="('auth.login.mail_placeholder' | translate)">
      </div>
      <button pButton type="submit" [label]="('auth.forgot_password.submit' | translate)" [disabled]="!email"></button>
    </form>
  } @else {
    <p>{{ message }}</p>
  }
</p-card>
