<article class="park-item-card" *ngIf="item as currentItem">
  <div class="park-item-card__visual">
    <span class="park-item-card__icon">
      <i [class]="typeIconClass"></i>
    </span>

    <div class="park-item-card__chips">
      <span class="public-pill">{{ categoryLabelKey | translate }}</span>
      <span class="public-pill public-pill--soft">{{ typeLabelKey | translate }}</span>
      <span class="public-pill public-pill--soft" *ngIf="zoneName">{{ zoneName }}</span>
    </div>
  </div>

  <div class="park-item-card__body">
    <div class="park-item-card__headline">
      <h3 class="park-item-card__title">{{ currentItem.name }}</h3>
      <p class="park-item-card__subtitle" *ngIf="manufacturerName || currentItem.attractionDetails?.model">
        {{ manufacturerName }}<ng-container *ngIf="manufacturerName && currentItem.attractionDetails?.model"> · </ng-container>{{ currentItem.attractionDetails?.model }}
      </p>
    </div>

    <p class="park-item-card__description" *ngIf="description">
      {{ description }}
    </p>

    <div class="park-item-card__highlights" *ngIf="highlightValues.length > 0">
      <span class="park-item-card__highlight" *ngFor="let value of highlightValues">
        {{ value }}
      </span>
    </div>
  </div>

  <div class="park-item-card__footer">
    <a
      *ngIf="itemLink"
      pButton
      [routerLink]="itemLink"
      class="p-button-outlined"
      icon="pi pi-arrow-right"
      [label]="'parkItems.actions.viewDetails' | translate">
    </a>
  </div>
</article>
