<div class="tab-section" [formGroup]="form">
  @if (isEditMode && parkId) {
    <div class="management-links-card">
      <div class="section-header mb-3">
        <h3>{{ 'admin.parks.management.sectionTitle' | translate }}</h3>
        <small class="text-color-secondary">{{ 'admin.parks.management.sectionHelp' | translate }}</small>
      </div>
      <div class="management-links">
        <button
          pButton
          type="button"
          class="p-button-outlined"
          icon="pi pi-sitemap"
          [label]="'admin.parks.zones.manage' | translate"
          [routerLink]="['/', currentLang, 'admin', 'parks', 'edit', parkId, 'zones']">
        </button>
        <button
          pButton
          type="button"
          class="p-button-outlined"
          icon="pi pi-map-marker"
          [label]="'admin.parks.items.manage' | translate"
          [routerLink]="['/', currentLang, 'admin', 'parks', 'edit', parkId, 'items']">
        </button>
      </div>
    </div>
  }

  <div class="grid formgrid">
    <div class="field col-12 md:col-6">
      <label for="name">{{ 'admin.parks.name' | translate }}</label>
      <input id="name" type="text" pInputText formControlName="name" />
      @if (nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)) {
        <small class="p-error">
          {{ 'validation.required' | translate }}
        </small>
      }
    </div>

    <div class="field col-12 md:col-6">
      <label for="websiteUrl">{{ 'admin.parks.website' | translate }}</label>
      <input
        id="websiteUrl"
        type="url"
        pInputText
        formControlName="websiteUrl"
        [placeholder]="'admin.parks.websitePlaceholder' | translate" />
    </div>
  </div>

  <div class="grid formgrid">
    <div class="field col-12 md:col-6">
      <label for="parkType">{{ 'admin.parks.type' | translate }}</label>
      <p-select
        inputId="parkType"
        formControlName="type"
        [options]="parkTypeOptions"
        optionValue="value"
        [showClear]="true"
        [appendTo]="'body'"
        [placeholder]="'admin.parks.typePlaceholder' | translate">
        <ng-template let-option #item>
          {{ option.labelKey | translate }}
        </ng-template>
        <ng-template let-option #selectedItem>
          @if (option) {
            {{ option.labelKey | translate }}
          } @else {
            {{ 'admin.parks.typePlaceholder' | translate }}
          }
        </ng-template>
      </p-select>
    </div>

    <div class="field col-12 md:col-6">
      <label for="countryCode">{{ 'admin.parks.country' | translate }}</label>
      <p-select
        inputId="countryCode"
        formControlName="countryCode"
        [options]="countryOptions"
        optionLabel="label"
        optionValue="code"
        [showClear]="true"
        [filter]="true"
        [appendTo]="'body'"
        [placeholder]="'admin.parks.countryPlaceholder' | translate">
      </p-select>
    </div>
  </div>

  <div class="grid formgrid">
    <div class="field col-12 md:col-6">
      <app-entity-select
        formControlName="founderId"
        [label]="'admin.parks.founder' | translate"
        [placeholder]="'admin.parks.founderPlaceholder' | translate"
        [options]="founderOptions"
        [loading]="foundersLoading"
        [addLink]="founderAddLink"
        [addQueryParams]="founderAddQueryParams"
        [addButtonLabel]="'admin.parks.addFounder' | translate">
      </app-entity-select>
    </div>

    <div class="field col-12 md:col-6">
      <app-entity-select
        formControlName="operatorId"
        [label]="'admin.parks.operator' | translate"
        [placeholder]="'admin.parks.operatorPlaceholder' | translate"
        [options]="operatorOptions"
        [loading]="operatorsLoading"
        [addLink]="operatorAddLink"
        [addQueryParams]="operatorAddQueryParams"
        [addButtonLabel]="'admin.parks.addOperator' | translate">
      </app-entity-select>
    </div>
  </div>

  <div class="visibility-card">
    <div>
      <label>{{ 'admin.parks.visibleField' | translate }}</label>
      <small class="text-color-secondary d-block mt-1">{{ 'admin.parks.visibilityHelp' | translate }}</small>
    </div>

    <div class="visibility-card__toggle">
      <p-toggleswitch formControlName="isVisible"></p-toggleswitch>
      @if (isVisibleControl?.value) {
        <span>{{ 'admin.parks.visible' | translate }}</span>
      }
      @if (!isVisibleControl?.value) {
        <span>{{ 'admin.parks.hidden' | translate }}</span>
      }
    </div>
  </div>

  <div class="section-actions">
    <button
      pButton
      type="button"
      class="p-button-secondary p-button-outlined"
      icon="pi pi-save"
      (click)="saveSection.emit()"
      [loading]="isSaving"
      [disabled]="isSaving"
      [label]="'admin.parks.editorActions.saveSection' | translate">
    </button>
  </div>
</div>
