<app-home-view
  [currentLang]="currentLang"
  [searchTerm]="searchTerm"
  [searchFilters]="searchFilters"
  [statsState]="statsState"
  [homeStats]="homeStats"
  [featuredState]="featuredState"
  [featuredParks]="featuredParks"
  [heroFeaturedParks]="heroFeaturedParks"
  [searchState]="searchState"
  [results]="results"
  [pagination]="pagination"
  [hasPerformedSearch]="hasPerformedSearch"
  [searchResultsTotal]="searchResultsTotal"
  [searchResultsHintKey]="searchResultsHintKey"
  (searchInputChanged)="onSearchInput($event)"
  (categoryChanged)="onCategoryChange($event)"
  (searchCleared)="onClearSearch()"
  (autocompleteSelected)="onAutocompleteSelect($event)"
  (suggestionSelected)="onSuggestionSelect($event)"
  (pageChanged)="onPageChange($event)">
</app-home-view>
