<h5>{{ 'auth.register.title' | translate }}</h5>
<form class="form-style">
  <div class="form-group">
    <label for="registerEmail">{{ 'auth.register.title_email' | translate }}</label>
    <input type="email" id="registerEmail" name="registerEmail" pInputText [placeholder]="('auth.register.mail_placeholder' | translate)"
           [(ngModel)]="registerEmail">
  </div>
  <div class="form-group">
    <label for="registerPassword">{{ 'auth.register.title_password' | translate }}</label>
    <input type="password" id="registerPassword" name="registerPassword" pInputText
           [placeholder]="('auth.register.password_placeholder' | translate)" [(ngModel)]="registerPassword">
    <input type="password" id="confirmPassword" name="confirmPassword" pInputText
           [placeholder]="('auth.register.password_confirm_placeholder' | translate)" [(ngModel)]="confirmPassword">
  </div>
  <button pButton type="submit" [label]="('auth.register.btn_text' | translate)"></button>
</form>

